<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <title>Edgar Arakelyan</title>
    </head>

    <body>
        

        <h1>Hi,</h1> <h2>i'm Edgar Arakelyan</h2>
        <p>
            I am a student at the University of Nevada, Las Vegas studying
            mathematics and computer science. I only recently found my passion
            for the latter subject, thus I am a bit late to the party! Nonetheless, 
            I seek company in creating products that can change how society thinks
            of the present and the future!
        </p>

        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="index.js"></script>
        <link type="text/css" rel="stylesheet" href="mainStyles.css">
    </body>
</html>