<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <title>Edgar Arakelyan</title>
    </head>

    <body>
        
        <div class="container">

            <div class = "row" id= "hello" >
                <h1>Hi There</h1>
            </div>

            <div class = "row" id="name1">
                <h1>I am Edgar</h1>
            </div>

            <div class = "row" id="name2">
                <h1>Arakelyan</h1>
            </div>

            <div class = "row" id="exposition">
                <p>
                    I am a student at the University of Nevada, Las Vegas seeking a
                    B.S in both mathematics and computer science. 
                </p>
            </div>

            <div class = "row future">
                <p> I only recently discovered my passion
                    for software development. Programming gives me an intellectual stimulus
                    that I thought only math provided, thus I am a bit late to the party!
                </p>
            </div>

            <div class="row future">
                <p>
                    Nonetheless, I seek company in creating products that will change how 
                    society thinks of the present and the future!
                </p>
            </div>
               
        
        
        </div>
        

        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="index.js"></script>
        <link type="text/css" rel="stylesheet" href="mainStyles.css">
    </body>
</html>