<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <title>Edgar Arakelyan</title>
    </head>

    <body>
        
        <div class="container">

            <div class="row" id="introduction">
                <h2 class="col-4">Hi There,</h2> <h1 class="col-8">i'm Edgar Arakelyan</h1>
            </div>

            <p>
                    I am a student at the University of Nevada, Las Vegas studying
                    mathematics and computer science. I only recently found my passion
                    for the latter subject, thus I am a bit late to the party! Nonetheless, 
                    I seek company in creating products that can change how society thinks
                    of the present and the future!
                </p>
               
        </div>
        

        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="index.js"></script>
        <link type="text/css" rel="stylesheet" href="mainStyles.css">
    </body>
</html>