#hello {
    padding-top: 7%; 
    margin-left: 35%;
    font-size: 150%;
}

#exposition {
    padding-top: 25%;
}

#name1 {
    padding-top: 5%;
    margin-left: 20%;
}

#name2 {
    margin-left: 41%;
}

#future{
    padding-top: 5%;
}

p{
    font-size: 125%;
}

h1{
    font-size: 310%;
}
