#hello {
    padding-top: 7%; 
    margin-left: 35%;
    font-size: 250%;
}

#exposition {
    padding-top: 20%;
}

#name1 {
    padding-top: 5%;
    margin-left: 20%;
}

#name2 {
    margin-left: 35%;
}

#about_me{
    padding-top: 5%;
}

#links{
    padding-top: 15%;
}

#project{
    padding-top: 10%;
    margin-left: 17%;
}

#project_list{
    padding-top: 6%;
}

#span1{
    color: blue;
}
#span2{
    color: orange;
}
#span3{
    color: red;
}
#span4{
    color: green;
}
#span5{
    color: pink;
}
#span6{
    color: brown;
}
#span7{
    color: purple;
}
#span8{
    color: #1996D6;
}
#span9{
    color: #A56805
}
#span10{
    color: red;
}

p{
    font-size: 125%;
}

h1{
    font-size: 410%;
}
