#hello {
    padding-top: 7%; 
    margin-left: 50%;
}

#exposition {
    padding-top: 25%;
}

#name1 {
    padding-top: 5%;
    margin-left: 20%;
}

#name2 {
    margin-left: 5%;
}

#future{
    padding-top: 5%;
}

p{
    font-size: 125%;
}
